__pycache__/
*.pyc
*.log
frontend/**/node_modules/
frontend/**/dist/
output/*.twb
output/*.xml
output/*.json
output/**/*.hyper
output/**/*.json
output/**/*.log
output/**/*.tds
output/**/*.tdsx
output/**/*.txt
output/**/*.twb
output/**/*.twbx
output/**/*.xml
config/llm_config.json
